# 0615 퀴즈

#### 아래 사이트에서 시가총액 상위 7개를 스크랩핑하여 주가명/시가 를 데이터프레임으로 만들어서 오라클 데이터베이스에 kopo_stock_st_이름 으로 저장하세요http://finance.daum.net/quote/marketvalue.daum (컬럼명: stock_name, stock_price)

In [2]:
import pandas as pd
from sqlalchemy import create_engine 
import requests, bs4, pandas as pd, numpy as np

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

In [3]:
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
resp.encoding='utf-8'
html=resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

In [4]:
columnlist1=["stock_name"]
columnlist2=["stock_price","n"]
namecontent=[]
pricecontent=[]
alldfcontents=[]
alldfcontents2=[]

contents=bs.select(' ul#myListTop1 > li', limit=7)
for content in contents:
    aa=content.findAll("a")
    spans=content.findAll("span")
    for num in aa:
        if(num.text=="None"):
            continue;
        namecontent.append(num.text)
    for num2 in spans:
        if(num2.text=="None"):
            continue;
        pricecontent.append(num2.text)
    alldfcontents.append(namecontent)
    alldfcontents2.append(pricecontent)
    namecontent=[]
    pricecontent=[]


df=pd.DataFrame(columns=columnlist1, data=alldfcontents ,index=None)
df2=pd.DataFrame(columns=columnlist2, data=alldfcontents2, index=None)
result = pd.concat([df,df2], axis=1)
print(result)
finalDf=result[["stock_name","stock_price"]]
print(finalDf)
print(contents)

   stock_name stock_price  n
0        삼성전자      47,050  ▲
1      SK하이닉스      88,500  ▲
2        셀트리온     292,000  ▼
3       삼성전자우      37,150  ▲
4       POSCO     339,000  ▼
5         현대차     127,000  ▼
6   삼성바이오로직..     415,000  ▼
   stock_name stock_price
0        삼성전자      47,050
1      SK하이닉스      88,500
2        셀트리온     292,000
3       삼성전자우      37,150
4       POSCO     339,000
5         현대차     127,000
6   삼성바이오로직..     415,000
[<li>
<a href="/item/main.daum?code=005930" target="_top" title="▲50|+0.11%">삼성전자</a>
<span class="cost num">47,050</span>
<span class="mark stUp"><em>▲</em></span>
</li>, <li>
<a href="/item/main.daum?code=000660" target="_top" title="▲700|+0.80%">SK하이닉스</a>
<span class="cost num">88,500</span>
<span class="mark stUp"><em>▲</em></span>
</li>, <li>
<a href="/item/main.daum?code=068270" target="_top" title="▼5,000|-1.68%">셀트리온</a>
<span class="cost num">292,000</span>
<span class="mark stDn"><em>▼</em></span>
</li>, <li>
<a href="/item/main.daum?code=005935" target="_top" title="▲50|+0.13%">삼성전자우</a>
<span class="cost num">37,150</span>
<span class="mark stUp"><em>▲</em></span>
</li>, <li>
<a href="/item/main.daum?code=005490" target="_top" title="▼3,500|-1.02%">POSCO</a>
<span class="cost num">339,000</span>
<span class="mark stDn"><em>▼</em></span>
</li>, <li>
<a href="/item/main.daum?code=005380" target="_top" title="▼2,500|-1.93%">현대차</a>
<span class="cost num">127,000</span>
<span class="mark stDn"><em>▼</em></span>
</li>, <li>
<a href="/item/main.daum?code=207940" target="_top" title="▼5,000|-1.19%"> 삼성바이오로직..</a>
<span class="cost num">415,000</span>
<span class="mark stDn"><em>▼</em></span>
</li>]

In [102]:
resultname='kopo_stock_st_jkh'
finalDf.to_sql(resultname, engine, if_exists='replace', index=False)

In [ ]:
# ,없애기
# for column in column2:
#     columnlist22=float(column.find("span",{"class":"cost num"}).text.replace(",",""))
#     columnlist2.append(columnlist22)
    
    
# df2 = pd.DataFrame(data = columnlist2, dtype=str)

In [ ]:
# stock_list[0].find("span",{"class":"cost num"}).text 라고 쓸 수 있어