# 0626 퀴즈

#### 1. oracle kopo 서버2에서 kopo_product_volume 불러오기

In [2]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine)

In [4]:
customerData.head(3)

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0

#### 2. 컬럼을 모두 대문자로 변경하기

In [6]:
customerData.columns = [x.upper() for x in customerData.columns]
customerData.head(3)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0

#### 3. kopo_product_volume 에서 지역 ST0002 상품이면서 거래량이 30만건 이상인 부분만 추출

In [26]:
# answer1 = customerData[(customerData.PRODUCTGROUP == "ST0002") & (customerData.VOLUME >= 300000)]
# answer1.head(5)

In [23]:
# 코딩은 이렇게
selectProduct="ST0002"
selectVolume=300000
answer1 = customerData[(customerData.PRODUCTGROUP == selectProduct) & (customerData.VOLUME >= selectVolume)]
answer1.head(5)

    REGIONID PRODUCTGROUP YEARWEEK     VOLUME
93       A01       ST0002   201552   422468.0
105      A01       ST0002   201551   356271.0
109      A01       ST0002   201549   669711.0
113      A01       ST0002   201547   378339.0
121      A01       ST0002   201548  1400339.0

#### 4. kopo_product_volume 나온결과에서 첫행 2개와 PRODUCTGROUP이후 모든 컬럼을 출력

In [25]:
answer1.iloc[0:2,1:]

    PRODUCTGROUP YEARWEEK    VOLUME
93        ST0002   201552  422468.0
105       ST0002   201551  356271.0