In [4]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine ,types

In [5]:
# DB 커넥션 열기
engine1 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_CHANNEL_SEASONALITY_NEW WHERE SUBSTR(YEARWEEK,5,2) <= 52', engine1)

In [6]:
# 컬럼명 대문자로
customerData.columns = [x.upper() for x in customerData.columns]
# 정렬
customerData=customerData.sort_values(["REGIONID","PRODUCT","YEARWEEK"], ascending=[True,True,True])
# 인덱스 다시 설정
sampleData = customerData.reset_index(drop=True)
sampleData.head(3)

  REGIONID    PRODUCT YEARWEEK    QTY
0      A00  PRODUCT34   201401  661.0
1      A00  PRODUCT34   201402  679.0
2      A00  PRODUCT34   201403  578.0

# 결측값 갯수 확인하기

In [7]:
sampleData.isnull().sum()

REGIONID    0
PRODUCT     0
YEARWEEK    0
QTY         0
dtype: int64

In [8]:
sampleData.notnull().sum()

REGIONID    123864
PRODUCT     123864
YEARWEEK    123864
QTY         123864
dtype: int64

# 특정 행에 대한 null값 체크

In [11]:
sampleData['NaN_cnt']=sampleData.isnull().sum(1)

In [12]:
sampleData['Notnull_cnt']=sampleData.notnull().sum(1)

In [13]:
sampleData.head()

  REGIONID    PRODUCT YEARWEEK    QTY  NaN_cnt  Notnull_cnt
0      A00  PRODUCT34   201401  661.0        0            6
1      A00  PRODUCT34   201402  679.0        0            6
2      A00  PRODUCT34   201403  578.0        0            6
3      A00  PRODUCT34   201404  532.0        0            6
4      A00  PRODUCT34   201405  516.0        0            6

# 결측값 채우기

#### 1. 특정 값으로 채우기

In [ ]:
sampleData.fillna(0)

#### 2. 특정 순서로 채우기

In [ ]:
# NaN값 뒤에 있는 값으로 채우기 
sampleData.fillna(method="bfill")
# NaN값 앞에 있는 값으로 채우기
sampleData.fillna(method="ffill")

In [ ]:
sampleData.fillna(sampleData.mean())

In [ ]:
sampleData.fillna(sampleData.mean()['qty':'target'])