In [6]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine1 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 
engine2 = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo') 
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_CHANNEL_SEASONALITY_NEW WHERE SUBSTR(YEARWEEK,5,2) <= 52', engine1) 
paramData = pd.read_sql_query('SELECT * FROM kopo_parameter_omz', engine1)

customerData.columns = [x.upper() for x in customerData.columns]
# 정렬
customerData=customerData.sort_values(["REGIONID","PRODUCT","YEARWEEK"], ascending=[True,True,True])
# 인덱스 다시 설정
sortedData = customerData.reset_index(drop=True)
sortedData.head(5)

  REGIONID    PRODUCT YEARWEEK    QTY
0      A00  PRODUCT34   201401  661.0
1      A00  PRODUCT34   201402  679.0
2      A00  PRODUCT34   201403  578.0
3      A00  PRODUCT34   201404  532.0
4      A00  PRODUCT34   201405  516.0

In [7]:
a=sortedData['PRODUCT'].str[-4:]
str1='KOPO_'
str1+a

sortedData['PRODUCT_NEW']=str1+a
sortedData.head(2)

  REGIONID    PRODUCT YEARWEEK    QTY PRODUCT_NEW
0      A00  PRODUCT34   201401  661.0   KOPO_CT34
1      A00  PRODUCT34   201402  679.0   KOPO_CT34

In [8]:
sortedData['YEARWEEK_NEW']=sortedData['YEARWEEK'].astype(int)*2
sortedData.head(2)

  REGIONID    PRODUCT YEARWEEK    QTY PRODUCT_NEW  YEARWEEK_NEW
0      A00  PRODUCT34   201401  661.0   KOPO_CT34        402802
1      A00  PRODUCT34   201402  679.0   KOPO_CT34        402804