In [17]:
import math
import numpy as np
import pandas as pd
from sqlalchemy import create_engine ,types

In [18]:
ma_section1=17
ma_section2=9
table_name='seasonality_team1'

In [19]:
# DB 커넥션 열기
engine1 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 
engine2 = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo') 
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_CHANNEL_SEASONALITY_NEW WHERE SUBSTR(YEARWEEK,5,2) <= 52', engine1) 
paramData = pd.read_sql_query('SELECT * FROM kopo_parameter_omz', engine1)
#paramData = pd.read_sql_query("SELECT * FROM kopo_parameter_omz WHERE 1=1 AND use_yn='Y'", engine1)

In [20]:
# 컬럼명 대문자로
customerData.columns = [x.upper() for x in customerData.columns]
# 정렬
customerData=customerData.sort_values(["REGIONID","PRODUCT","YEARWEEK"], ascending=[True,True,True])
# 인덱스 다시 설정
sortedData = customerData.reset_index(drop=True)
sortedData.head(5)

  REGIONID    PRODUCT YEARWEEK    QTY
0      A00  PRODUCT34   201401  661.0
1      A00  PRODUCT34   201402  679.0
2      A00  PRODUCT34   201403  578.0
3      A00  PRODUCT34   201404  532.0
4      A00  PRODUCT34   201405  516.0

# 파라미터 테이블

In [21]:
paramData.set_index("param_name",inplace=True)

In [26]:
valid_Week=(paramData.loc['VALID_WEEK']['param_value'])
valid_Week

'20'

In [27]:
valid_Product=paramData.loc[][]

SyntaxError: invalid syntax (<ipython-input-27-4f1a77ca707b>, line 1)

In [28]:
ma_start_Year=paramData.loc['MA_START_YEAR']['param_value']
ma_end_Year=paramData.loc['MA_END_YEAR']['param_value']

In [31]:
a_1=sortedData[(sortedData.WEEK <= valid_Week)]
a_1

       REGIONID    PRODUCT YEARWEEK     QTY  YEAR WEEK
0           A00  PRODUCT34   201401   661.0  2014   01
1           A00  PRODUCT34   201402   679.0  2014   02
2           A00  PRODUCT34   201403   578.0  2014   03
3           A00  PRODUCT34   201404   532.0  2014   04
4           A00  PRODUCT34   201405   516.0  2014   05
5           A00  PRODUCT34   201406   423.0  2014   06
6           A00  PRODUCT34   201407   407.0  2014   07
7           A00  PRODUCT34   201408   364.0  2014   08
8           A00  PRODUCT34   201409   470.0  2014   09
9           A00  PRODUCT34   201410   538.0  2014   10
10          A00  PRODUCT34   201411   369.0  2014   11
11          A00  PRODUCT34   201412   352.0  2014   12
12          A00  PRODUCT34   201413   354.0  2014   13
13          A00  PRODUCT34   201414   312.0  2014   14
14          A00  PRODUCT34   201415   295.0  2014   15
15          A00  PRODUCT34   201416   284.0  2014   16
16          A00  PRODUCT34   201417   237.0  2014   17
17          A00  PRODUCT34   201418   180.0  2014   18
18          A00  PRODUCT34   201419   161.0  2014   19
19          A00  PRODUCT34   201420   140.0  2014   20
52          A00  PRODUCT34   201501   151.0  2015   01
53          A00  PRODUCT34   201502   191.0  2015   02
54          A00  PRODUCT34   201503   107.0  2015   03
55          A00  PRODUCT34   201504   154.0  2015   04
56          A00  PRODUCT34   201505    69.0  2015   05
57          A00  PRODUCT34   201506    66.0  2015   06
58          A00  PRODUCT34   201507    60.0  2015   07
59          A00  PRODUCT34   201508    52.0  2015   08
60          A00  PRODUCT34   201509    42.0  2015   09
61          A00  PRODUCT34   201510    59.0  2015   10
...         ...        ...      ...     ...   ...  ...
123770      A77  PRODUCT12   201511  3243.0  2015   11
123771      A77  PRODUCT12   201512  4657.0  2015   12
123772      A77  PRODUCT12   201513  3730.0  2015   13
123773      A77  PRODUCT12   201514  4560.0  2015   14
123774      A77  PRODUCT12   201515  3899.0  2015   15
123775      A77  PRODUCT12   201516  2798.0  2015   16
123776      A77  PRODUCT12   201517  4089.0  2015   17
123777      A77  PRODUCT12   201518  2953.0  2015   18
123778      A77  PRODUCT12   201519  2876.0  2015   19
123779      A77  PRODUCT12   201520  3671.0  2015   20
123812      A77  PRODUCT12   201601  7965.0  2016   01
123813      A77  PRODUCT12   201602  4642.0  2016   02
123814      A77  PRODUCT12   201603  5119.0  2016   03
123815      A77  PRODUCT12   201604  5044.0  2016   04
123816      A77  PRODUCT12   201605  4803.0  2016   05
123817      A77  PRODUCT12   201606  4320.0  2016   06
123818      A77  PRODUCT12   201607  6179.0  2016   07
123819      A77  PRODUCT12   201608  4892.0  2016   08
123820      A77  PRODUCT12   201609  4233.0  2016   09
123821      A77  PRODUCT12   201610  4731.0  2016   10
123822      A77  PRODUCT12   201611  5188.0  2016   11
123823      A77  PRODUCT12   201612  3576.0  2016   12
123824      A77  PRODUCT12   201613  4058.0  2016   13
123825      A77  PRODUCT12   201614  7854.0  2016   14
123826      A77  PRODUCT12   201615  3729.0  2016   15
123827      A77  PRODUCT12   201616  4659.0  2016   16
123828      A77  PRODUCT12   201617  3421.0  2016   17
123829      A77  PRODUCT12   201618  2780.0  2016   18
123830      A77  PRODUCT12   201619  4200.0  2016   19
123831      A77  PRODUCT12   201620  3496.0  2016   20

[47640 rows x 6 columns]

In [6]:
paramData

,param_category,param_seq,param_value,use_yn
param_name,,,,
VALID_WEEK,COMMON,1,20,N
VALID_START_YEAR,COMMON,1,2014,N
VALID_PRODUCT,COMMON,1,PRODUCT1,N
VALID_PRODUCT,COMMON,2,PRODUCT2,N
MA_SECTION1,COMMON,1,17,N
MA_SECTION2,COMMON,1,9,N
VALID_REGIONID,COMMON,1,A01,N
VALID_REGIONID,COMMON,2,A02,N
SAVE_TABLE_NAME,COMMON,1,KOPO_CHANNEL_SEASONALITY_RESULT_FINAL,Y
MA_START_YEAR,COMMON,1,2014,N
VALID_END_YEAR,COMMON,1,2016,N
MA_END_YEAR,COMMON,1,2016,N

In [ ]:
ma_section1=int(paramData.loc['MA_SECTION1']['param_value'])

In [ ]:
ma_section2=int(paramData.loc['MA_SECTION2']['param_value'])

In [ ]:
# 이건 딕셔너리 형태일 때 
# dic=[]
# num=len(paramData)
# for i in range(0,num):
#     a={paramData['param_name'][i]:paramData['param_value'][i]}
#     dic.append(a)
# dic

#### postgres에는 테이블명 소문자로

In [ ]:
table_name=paramData.loc['SAVE_TABLE_NAME']['param_value'].lower()

In [22]:
# 컬럼명 대문자
customerData.columns = [x.upper() for x in customerData.columns]

In [23]:
# 정렬
customerData=customerData.sort_values(["REGIONID","PRODUCT","YEARWEEK"], ascending=[True,True,True])

In [24]:
# 인덱스 다시 설정
sortedData = customerData.reset_index(drop=True)
sortedData.head(5)

  REGIONID    PRODUCT YEARWEEK    QTY
0      A00  PRODUCT34   201401  661.0
1      A00  PRODUCT34   201402  679.0
2      A00  PRODUCT34   201403  578.0
3      A00  PRODUCT34   201404  532.0
4      A00  PRODUCT34   201405  516.0

# YEAR랑 WEEK만들기

In [30]:
sortedData['YEAR']=sortedData['YEARWEEK'].str[0:4]
sortedData['WEEK']=sortedData['YEARWEEK'].str[4:6]
sortedData.head()

  REGIONID    PRODUCT YEARWEEK    QTY  YEAR WEEK
0      A00  PRODUCT34   201401  661.0  2014   01
1      A00  PRODUCT34   201402  679.0  2014   02
2      A00  PRODUCT34   201403  578.0  2014   03
3      A00  PRODUCT34   201404  532.0  2014   04
4      A00  PRODUCT34   201405  516.0  2014   05

In [ ]:
# list=[]
# num=len(sortedData)
# for i in range(0,num):
#     a=sortedData['YEARWEEK'][i]
#     sortedData.loc[i,'YEAR']=a[0:4]
#     sortedData.loc[i,'WEEK']=a[5:6]

### 음수(반품)는 0으로 고정

In [ ]:
sortedData["QTY_NEW"] = np.where(sortedData["QTY"] <= 0, 1, sortedData["QTY"])
sortedData.head()

### 이동평균(판매추세량) 함수

In [ ]:
def sub_function(data):
    data = data.reset_index(drop=True)
    data["MA"]=data["QTY_NEW"].rolling(window=ma_section1,center=True).mean()
    
    suborder=math.floor(ma_section1/2)
   
    list=[]
    maxLength=len(data)-1
    for i in range(0,suborder):
        list.append(data['QTY_NEW'][0:i+suborder+1].mean())
        data.loc[i,"MA"]=list[i]
    
    list1=[]
    for i in range(0,suborder):
        list1.append(data['QTY_NEW'][-i-suborder-1:].mean())
        data['MA'][maxLength-i]=list1[i]
        
    return data

### 정제된 판매량의 이동평균 함수

In [ ]:
# 앞뒤 자동으로 채워줌
# sortedData['MA']=sortedData['QTY'].rolling(window=4, min_periods=1, center=True).mean()

In [ ]:
def smoo_function(data):
    data = data.reset_index(drop=True)
    data["SMOOTH"]=data["REFINED_QTY"].rolling(window=ma_section2,center=True).mean()
    
    suborder=math.floor(ma_section2/2)
   
    list=[]
    maxLength=len(data)-1
    for i in range(0,suborder):
        list.append(data['REFINED_QTY'][0:i+suborder+1].mean())
        data.loc[i,"SMOOTH"]=list[i]
    
    list1=[]
    for i in range(0,suborder):
        list1.append(data['REFINED_QTY'][-i-suborder-1:].mean())
        data['SMOOTH'][maxLength-i]=list1[i]
        
    return data

### 변동률(판매추세량의 표준편차) 함수

In [ ]:
def std_function(data):
    data = data.reset_index(drop=True)
    data["MSTD"]=data["MA"].rolling(window=ma_section2,center=True).std()
    
    suborder=math.floor(ma_section2/2)
   
    list=[]
    maxLength=len(data)-1
    for i in range(0,suborder):
        list.append(data['MA'][0:i+suborder+1].std())
        data.loc[i,"MSTD"]=list[i]
    
    list1=[]
    for i in range(0,suborder):
        list1.append(data['MA'][-i-suborder-1:].std())
        data['MSTD'][maxLength-i]=list1[i]
        
    return data

#### 이동평균(판매추세량) 구하기

In [ ]:
groupResult = sortedData.groupby(['REGIONID','PRODUCT']).apply(sub_function)
aa=groupResult.reset_index(drop=True)

In [ ]:
aa.head()

#### 변동률 구하기

In [ ]:
bb = aa.groupby(['REGIONID','PRODUCT']).apply(std_function)

#### 상한/하한구하기

In [ ]:
bb["UPPER_BOUND"]=bb["MA"]+bb["MSTD"]
bb["LOWER_BOUND"]=bb["MA"]-bb["MSTD"]

#### 정제된 판매량 구하기

In [ ]:
bb['REFINED_QTY']=np.where(bb['QTY_NEW']>bb['UPPER_BOUND'],bb['MA'],\
        np.where(bb['QTY_NEW']<bb['LOWER_BOUND'],bb['MA'],bb['QTY_NEW']))

#### 스무딩처리 구하기

In [ ]:
bb=bb.reset_index(drop=True)

In [ ]:
cc = bb.groupby(['REGIONID','PRODUCT']).apply(smoo_function)

In [ ]:
dd=cc.reset_index(drop=True)
dd.head()

### 계절성지수산출(안정된 시장/ 불안정 시장)
#### 안정된 시장 = 실제판매량/스무딩처리   || 불안정 시장 = 정제된 판매량/스무딩처리

In [ ]:
dd["STABLE"] = np.where(dd['SMOOTH']==0,dd['QTY_NEW'],dd["QTY_NEW"]/dd["SMOOTH"])
dd["UNSTABLE"] = np.where(dd['SMOOTH']==0,dd['REFINED_QTY'],dd["REFINED_QTY"]/dd["SMOOTH"])
dd.head()

### 오라클에 CLOB형태 저장할 경우 시간이 오래걸리기 때문에 object형을 varchar로 저장하도록 옵션 추가해야함

In [ ]:
# to_varchar = {c:types.VARCHAR(dd[c].str.len().max()) for c in dd.columns[dd.dtypes == 'object'].tolist()}
# a='TEST_PY_0'
# dd.to_sql(a, engine1, if_exists='replace', index=False, dtype=to_varchar)

In [ ]:
dd.to_sql(table_name, engine2, if_exists='replace', index=False)

#### 오라클에는 for문 필요..............

In [ ]:
# resultname='RESULT_PY'
# for i in range(0,len(dd)):
#     a=dd[i:i+1][:] 
#     a.to_sql(resultname, engine, if_exists='append', index=False)

In [ ]:
! jupyter nbconvert --to script py_seasonality.ipynb