In [28]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기

In [29]:
customerData

,param_category,param_name,param_seq,param_value,use_yn
0,COMMON,VALID_WEEK,1,20,Y
1,COMMON,VALID_START_YEAR,1,2014,Y
2,COMMON,VALID_PRODUCT,1,PRODUCT1,Y
3,COMMON,VALID_PRODUCT,2,PRODUCT2,Y
4,COMMON,MA_SECTION1,1,17,Y
5,COMMON,MA_SECTION2,1,9,Y
6,COMMON,VALID_REGIONID,1,A01,N
7,COMMON,VALID_REGIONID,2,A02,N
8,COMMON,SAVE_TABLE_NAME,1,KOPO_CHANNEL_SEASONALITY_RESULT_OMZ1,Y
9,COMMON,MA_START_YEAR,1,2014,Y
10,COMMON,VALID_END_YEAR,1,2016,Y
11,COMMON,MA_END_YEAR,1,2016,Y

In [30]:
dic=[]
num=len(customerData)
for i in range(0,num):
    a={customerData['param_name'][i]:customerData['param_value'][i]}
    dic.append(a)

In [31]:
dic

[{'VALID_WEEK': '20'},
 {'VALID_START_YEAR': '2014'},
 {'VALID_PRODUCT': 'PRODUCT1'},
 {'VALID_PRODUCT': 'PRODUCT2'},
 {'MA_SECTION1': '17'},
 {'MA_SECTION2': '9'},
 {'VALID_REGIONID': 'A01'},
 {'VALID_REGIONID': 'A02'},
 {'SAVE_TABLE_NAME': 'KOPO_CHANNEL_SEASONALITY_RESULT_OMZ1'},
 {'MA_START_YEAR': '2014'},
 {'VALID_END_YEAR': '2016'},
 {'MA_END_YEAR': '2016'}]

In [32]:
dic[0]["VALID_WEEK"]

'20'